<a href="https://colab.research.google.com/github/zzhang2017/CBDS/blob/master/python1_exercises.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Consider the following list of words:

In [0]:
words = [
         "In", "order", "to", "support", "research", "on", "genomics",
         "proteomics", "signaling", "on", "the", "neostriatum", "in",
         "rats", "and", "humans", "proteins", "arithmetic", "species",
         "compiled", "significant", "differences", "in", "species", "primate",
         "Designation", "of", "proteins", "without", "integration",
         "designation"
]

How many words are in the `words` list? Use the `len` function to find out:

In [42]:
len(words)

31

Copy-paste the list of words here, but (1) assign it to a different variable `my_words` and (2) replace the square brackets `[]` with curly brackets `{}` to create a **set**.

In [0]:
my_words = {"In", "order", "to", "support", "research", "on", "genomics",
         "proteomics", "signaling", "on", "the", "neostriatum", "in",
         "rats", "and", "humans", "proteins", "arithmetic", "species",
         "compiled", "significant", "differences", "in", "species", "primate",
         "Designation", "of", "proteins", "without", "integration",
         "designation"}

Use the `len` function on `my_words` to find out how many unique words are in the set. (Remember, sets do not have repeats but lists do.)

In [44]:
len (my_words)

27

Do the words "proteins" and "genes" appear in the set of `my_words`? Check for them using `in`.

In [45]:
"protein" in my_words

False

In [46]:
"genes" in my_words

False

Consider the following dictionary of patients and their data. The keys of the dictionary are unique identifiers assigned to each patient. This allows the system to distinguish multiple people with the same name.

In [0]:
patients = {
    521236: {
        'last_name': 'Dawson',
        'first_name': 'Louise',
        'temperatures': [37.7, 37.2, 37.5, 37.3],
        'height': 1.49
    },
    627256: {
        'last_name': 'Valencia',
        'first_name': 'Thelma',
        'temperatures': [36.5, 36.9],
        'height': 1.74
    },
    876516: {
        'last_name': 'Ventura',
        'first_name': 'William',
        'temperatures': [36.6, 36.8, 37.8, 37.2],
        'height': 1.70
    },
    161451: {
        'last_name': 'Shackelford',
        'first_name': 'Steven',
        'temperatures': [37.9, 38.4, 38.4],
        'height': 1.67
    },
    623724: {
        'last_name': 'Rzeczycki',
        'first_name': 'Kristi',
        'temperatures': [37.9, 37.8],
        'height': 1.65
    }
}

How many patients are there? Use `len` to find out.

In [48]:
len (patients)

5

What is the height of patient 876516? Write code using `[]` to find out.

In [49]:
patients[876516]["height"]

1.7

Given that the height is measured in meters and that there are 2.54 cm for every inch, how tall is patient 876516 in inches? Write code to find out.

In [52]:
patients[876516]["height"] *100 / 2.54

66.92913385826772

How many temperature readings have been made for patient 876516? Write code using `[]` and `len` to find out.

In [53]:
len(patients[876516]['temperatures'])

4

What is the maximum temperature reading for patient 876516? Use `max`.

In [54]:
max(patients[876516]['temperatures'])

37.8

What was the second temperature reading recorded for patient 876516? Use `[]`. Your answer should be 36.8. If you get a different answer, figure out why and fix your query.

In [55]:
patients[876516]['temperatures'][1]

36.8

Do we have data for the patient 531616? What about patient 161451? Test for them using `in`.

**append** a new temperature reading of 38.3 for patient 623724. After you have done so, find the maximum and minimum of their measured temperature values.

In [0]:
patients[623724]['temperatures'].append(38.3)

In [60]:
max(patients[623724]['temperatures'])

38.3

In [61]:
min(patients[623724]['temperatures'])

37.8

Add Susan Sinclair (patient 517235) to the dictionary. She is 1.67m tall and has never had her temperature recorded (i.e. the list is `[]`).

In [0]:
patients[517235] = {
        'last_name':'Rzeczycki',
        'first_name':'Kristi',
        'temperatures':[37.9, 37.8],
        'height':1.65
    }

Verify that you added her successfully by checking the number of patients in the dictionary. There should be six.

In [65]:
len(patients)

6

Suppose that the number of patients in your system doubles every 10 days. How many patients will you have in 30 days? Hint: start with the `len(patients)` you have now and multiply it by 2 raised to the power of the number of doublings (which you can compute using division).

In [66]:
len(patients) * (2**(30/10))

48.0